apiVersion: v1
kind: ConfigMap
metadata:
  name: autoscaler-props
  namespace: unip-system-autoscaler
data:
  spec.yaml: |
    target:
      kind: deployment
      name: stress-ng-test
      namespace: unip-system-autoscaler
    scalingRules:
      prometheusMetric:
        query: |
          sum by (pod) (rate(container_cpu_usage_seconds_total{pod=~"stress-ng-test-.*"}[1m]))
        thresholdUp: 50
        thresholdDown: 25
        stepUp: 1
        stepDown: 1
    maxReplicas: 10
    minReplicas: 1  # параметр minReplicas=0 включает гибернацию
    cooldown: 300  # время в секундах, в течение которого не будет производиться масштабирование