apiVersion: v1
kind: ConfigMap
metadata:
  name: autoscaler-props
  namespace: unip-system-autoscaler
data:
  spec.yaml: |
    target:
      kind: deployment
      name: pythonserver
      namespace: unip-system-autoscaler
    scalingRules:
      prometheusMetric:
        query: |
          sum by (pod) (rate(container_cpu_usage_seconds_total{pod=~"pythonserver-.*"}[1m])) * 100
        thresholdUp: 50
        thresholdDown: 25
        stepUp: 1
        stepDown: 1
    maxReplicas: 3
    minReplicas: 0  # параметр minReplicas=0 включает гибернацию
    cooldown: 10  # время в секундах, в течение которого не будет производиться масштабирование